<!-- Main -->
<div id="main">
  <div class="inner">
    <!-- Header -->
    <header id="header">
      <a href="index.html" class="logo"><strong>Kade Illian</strong></a>
      <ul class="icons">
        <li><a href="https://github.com/kadeillian21" class="icon brands fa-github"><span
              class="label">GitHub</span></a></li>
        <li><a href="https://www.linkedin.com/in/kade-illian/" class="icon brands fa-linkedin"><span
              class="label">LinkedIn</span></a></li>
        <li><a href="mailto:kadeillianmt@gmail.com" class="icon solid fa-envelope"><span
              class="label">Email</span></a></li>
      </ul>
    </header>

    <!-- Content -->
    <section>
      <header class="main">
        <h1>Blogs</h1>
      </header>
      <div class="row">
        <div class="col-6 col-12-small">
          <h3>What I am Learning</h3>
          <p>The purpose for the learnings" section of my website is threefold.  One: to help the user learn about web development concepts from the perspective of a beginner.  Two: to demonstrate what skills I have been working on in my freetime.  Three: to document what I have been learning on a weekly basis as a progress in my web development journey.  I hope that you find these articles insightful and that they would even help you solve your own web development problems!</p>
          <a href="blog/all" class="button primary large">View All Learnings</a>
        </div>
        <div class="col-6 col-12-small">

      </div>
      <hr class="major">
      <div class="col-4 col-12-medium">
        <%= render Blog.last %>
      </div>
      <div class="col-4 col-12-medium">
        <%= render Blog.second_to_last %>
      </div>
      <div class="col-4 col-12-medium">
        <%= render Blog.third_to_last %>
      </div>
    </section>
  </div>
</div>
