<<p style="color: green"><%= notice %></p>

<h1>Blogs</h1>

<div id="blogs">
  <% @blogs.each do |blog| %>
    <%= render blog %>
    <p>
      <a href="blog/:id" class="button primary medium">View this Blog</a>
    </p>
  <% end %>
</div>
