<div id="main">
  <div class="inner">
    <!-- Header -->
    <header id="header">
      <a href="index.html" class="logo"><strong>Kade Illian</strong></a>
      <ul class="icons">
        <li><a href="https://github.com/kadeillian21" class="icon brands fa-github"><span
              class="label">GitHub</span></a></li>
        <li><a href="https://www.linkedin.com/in/kade-illian/" class="icon brands fa-linkedin"><span
              class="label">LinkedIn</span></a></li>
        <li><a href="mailto:kadeillianmt@gmail.com" class="icon solid fa-envelope"><span
              class="label">Email</span></a></li>
      </ul>
    </header>
    <h1>Editing meme</h1>

    <%= render "form", meme: @meme %>

    <br>

    <div>
      <%= link_to "Show this meme", @meme %> |
      <%= button_to "Destroy this meme", @meme, method: :delete %>
      <%= link_to "Back to memes", memes_path %>
    </div>
  </div>
</div>
