<!-- Main -->
<div id="main">
	<div class="inner">
		<!-- Header -->
		<header id="header">
			<a href="index.html" class="logo"><strong>Kade Illian</strong></a>
			<ul class="icons">
				<li><a href="https://github.com/kadeillian21" class="icon brands fa-github"><span
							class="label">GitHub</span></a></li>
				<li><a href="https://www.linkedin.com/in/kade-illian/" class="icon brands fa-linkedin"><span
							class="label">LinkedIn</span></a></li>
				<li><a href="mailto:kadeillianmt@gmail.com" class="icon solid fa-envelope"><span
							class="label">Email</span></a></li>
			</ul>
		</header>

<!-- Banner -->
<section id="banner">
	<div class="content">
		<header>
			<h1>Hi, I'm <br>Kade Illian</h1>
			<p>A Ruby on Rails Developer Based out of Bozeman, MT</p>
		</header>
		<p>I became interested in computer science during my freshman year of high school, and competed at a
			district level in an academic Java competition. Throughout high school, my love of problem solving and working inside of a team grew.  Whether it was being a lead server at Cracker Barrel or creating a widely successful student section for our football team, I loved figuring out how to motivating people to become as passionate as I was about the task at hand.  After moving to Montana with the intentions of taking a gap year before attending college, I realized that my passion layed within the wide world of web development.  in March of 2022, I started to teach myself basic HTML and CSS. Then in July of 2022, I took the first major step in my web development career: attending Actualize Bootcamp.  Here, I learned how the basics of Ruby on Rails, JavaScript, React.js, SQL, Git, Github, and more.  With this newly aquired knowledge, I have been able to create <a href="<%= projects_path %>">projects</a> such as this website.  My career as a web developer is only just beginning, but I hope to show you some of what I have learned through this site.</p>
		<ul class="actions">
			<li><a href="#target" class="button big">Learn More</a></li>
		</ul>
	</div>
	<span class="image object">
		<%= image_tag "C42E7B6A-2562-4264-8C30-A1E9B46918F8_1_105_c.jpeg" %>
	</span>
</section>

<!-- Section -->
<section>
	<header class="major">
		<h2>Technologies</h2>
	</header>
	<div class="features">
		<article>
			<span class="icon fa-gem"></span>
			<div class="content">
				<h3>Ruby</h3>
				<p>Ruby is a pure OOP language that pairs with Rails to allow web developers to be able to easily create
					'CRUD' web applications. Ruby on Rails was my first language with a framework and has allowed me to
					create a variety of apps and APIs like a To-Do list, a favorite songs application, and much more. You
					can view some of these projects at <a href="/projects.html">www.kadeillian.com/projects</a>.</p>
			</div>
		</article>
		<article>
			<span class="icon solid fa-train"></span>
			<div class="content">
				<h3>Ruby on Rails</h3>
				<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante
					interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
			</div>
		</article>
		<article>
			<span class="icon brands fa-js"></span>
			<div class="content">
				<h3 id="target">JavaScript</h3>
				<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante
					interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
			</div>
		</article>
		<article>
			<span class="icon brands fa-react"></span>
			<div class="content">
				<h3>React</h3>
				<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante
					interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
			</div>
		</article>
		<article>
			<span class="icon brands fa-html5"></span>
			<div class="content">
				<h3>HTML/CSS</h3>
				<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante
					interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
			</div>
		</article>
		<article>
			<span class="icon brands fa-git"></span>
			<div class="content">
				<h3>Git</h3>
				<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante
					interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
			</div>
		</article>
	</div>
	<a href="/resources" class="button big">Learn More</a>
</section>

<!-- Section -->
<section>
	<header class="major">
		<h2>What I am Learning</h2>
	</header>
	<div class="posts">
		<article>
			<h3>Interdum aenean</h3>
			<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante
				interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
			<ul class="actions">
				<li><a href="#" class="button">More</a></li>
			</ul>
		</article>
		<article>
			<h3>Nulla amet dolore</h3>
			<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante
				interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
			<ul class="actions">
				<li><a href="#" class="button">More</a></li>
			</ul>
		</article>
		<article>
			<h3>Tempus ullamcorper</h3>
			<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante
				interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
			<ul class="actions">
				<li><a href="#" class="button">More</a></li>
			</ul>
		</article>
		<article>
			<h3>Sed etiam facilis</h3>
			<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante
				interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
			<ul class="actions">
				<li><a href="#" class="button">More</a></li>
			</ul>
		</article>
		<article>
			<h3>Feugiat lorem aenean</h3>
			<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante
				interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
			<ul class="actions">
				<li><a href="#" class="button">More</a></li>
			</ul>
		</article>
		<article>
			<h3>Amet varius aliquam</h3>
			<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante
				interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
			<ul class="actions">
				<li><a href="#" class="button">More</a></li>
			</ul>
		</article>
	</div>
</section>
</div>
</div>