<!-- Main -->
<div id="main">
  <div class="inner">
    <!-- Header -->
    <header id="header">
      <a href="index.html" class="logo"><strong>Kade Illian</strong></a>
      <ul class="icons">
        <li><a href="https://github.com/kadeillian21" class="icon brands fa-github"><span
              class="label">GitHub</span></a></li>
        <li><a href="https://www.linkedin.com/in/kade-illian/" class="icon brands fa-linkedin"><span
              class="label">LinkedIn</span></a></li>
        <li><a href="mailto:kadeillianmt@gmail.com" class="icon solid fa-envelope"><span
              class="label">Email</span></a></li>
      </ul>
    </header>

    <!-- Content -->
    <section>
      <header class="main">
        <h1>Projects</h1>
      </header>
      <div class="posts">
        <article>
          <a href="https://github.com/kadeillian21/kadeillian.com" class="image"><%= image_tag "mini-capstone-api-ss" %></a>
          <h3>Respository for kadeillian.com</h3>
          <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante
            interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
          <ul class="actions">
            <li><a href="https://github.com/kadeillian21/kadeillian.com" class="button">View on GitHub</a></li>
          </ul>
        </article>
        <article>
          <a href="https://github.com/kadeillian21/mini-capstone-api" class="image"><%= image_tag "kadeillian.com-ss" %></a>
          <h3>Actualize Mini-Capstone</h3>
          <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante
            interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
          <ul class="actions">
            <li><a href="https://github.com/kadeillian21/mini-capstone-api" class="button">View on GitHub</a></li>
          </ul>
        </article>
        <article>
          <a href="https://github.com/kadeillian21/car-app" class="image"><%= image_tag "car-app-ss" %></a>
          <h3>Car API</h3>
          <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante
            interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
          <ul class="actions">
            <li><a href="https://github.com/kadeillian21/car-app" class="button">View on GitHub</a></li>
          </ul>
        </article>
      </div>
    </section>
  </div>
</div>